:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #9fa3a4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.form {
  text-align: center;
  margin-top: 36px;
  margin-bottom: 32px;
}
input {
  outline: none;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;
  font-size: 16px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
}

input:hover {
  border: 1px solid #000;
}

input:active {
  border: 1px solid rgb(239, 64, 1);
  color: #2e2f42;
}

.button {
  border-radius: 8px;
  background-color: rgb(239, 64, 1);
  padding: 8px 16px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover {
  background-color: rgb(234, 119, 77);
}

.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  list-style: none;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

.image {
  object-fit: cover;
  height: 200px;
}

.img-item {
  width: 360px;
  border: 1px solid #808080;
}

.img-info {
  background-color: #d2d7d8;
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.btn-load-more {
  display: block;
  margin: 0 auto;
  margin-top: 32px;
  border-radius: 8px;
  background-color: rgb(239, 64, 1);
  padding: 8px 16px;
  border: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hidden {
  display: none;
}

.loader {
  width: 16px;
  height: 16px;
  position: relative;
  display: none;
  border-radius: 50%;
  color: #fff;
  background: currentColor;
  left: 50%;
  margin-top: 50px;
  box-shadow: 32px 0, -32px 0, 64px 0;
}

.loader::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #ff3d00;
  animation: move 3s linear infinite alternate;
}

@keyframes move {
  0%,
  5% {
    left: -32px;
    width: 16px;
  }
  15%,
  20% {
    left: -32px;
    width: 48px;
  }
  30%,
  35% {
    left: 0px;
    width: 16px;
  }
  45%,
  50% {
    left: 0px;
    width: 48px;
  }
  60%,
  65% {
    left: 32px;
    width: 16px;
  }

  75%,
  80% {
    left: 32px;
    width: 48px;
  }
  95%,
  100% {
    left: 64px;
    width: 16px;
  }
}
